---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "font-awesome";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  -webkit-text-size-adjust:none;
}

body {
	background: $lightGray;
  font: 300 16px/1.625 $helveticaNeue;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
  width: 100%;
}

.inner-container {
  background: $white;
  padding: 70px 80px;
}

@include tablet {
  .inner-container {
    padding: 40px 50px;
  }
}

@include mobile {
  .inner-container {
    padding: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  //margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 36px;
  a {
    color: inherit;
  }

  @include mobile {
    font-size: 28px;
  }
}

h2 {
  font-size: 24px;
  a {
    color: inherit;
  }

  @include mobile {
    font-size: 16px;
  }
}

h3 {
  font-size: 24px;

  @include mobile {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  color: $gray;

  @include mobile {
    font-size: 16px;
  }
}

p {
  margin: 1em 0;

  @include mobile {
    margin: 10px 0;
  }
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    text-decoration: underline;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

img.craig-bio-img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 450px;
  width: 50%;
  height: auto;
}

@include mobile {
  img.craig-bio-img {
    margin: 0;
    float: none;
    width: 100%;

    & {
      text-align: center;
    }
  }
}

@import "post";
@import "page";
@import "navbar";
@import "components/tag";
@import "components/search-bar";
@import "footer";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "csshacks";
@import "print";
