---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "font-awesome";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  -webkit-text-size-adjust:none;
}

body {
	background: $lightGray;
  //font: 300 16px/1.625 $helveticaNeue;
  font: 300 16px/1.625 $robotoSlab;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
  width: 100%;
}

.inner-container {
  background: $white;
  padding: 70px 80px;

  @include tablet {
    padding: 40px 50px;
  }

  @include mobile {
    padding: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $helveticaNeue;
  font-family: $robotoSlab;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  //margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 36px;
  a {
    color: inherit;
  }

  @include mobile {
    font-size: 22px;
  }
}

h2 {
  font-size: 24px;
  a {
    color: inherit;
  }

  @include mobile {
    font-size: 16px;
  }
}

h3 {
  font-size: 24px;

  @include mobile {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  color: $gray;

  @include mobile {
    font-size: 16px;
  }
}

p {
  margin: 1em 0;

  @include mobile {
    margin: 10px 0;
  }
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    text-decoration: underline;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

img.craig-bio-img {
  float: right;
  margin: 0 0 0 20px;
  max-width: 330px;
  width: 50%;
  height: auto;
}

@include mobile {
  img.craig-bio-img {
    margin: 0;
    float: none;
    width: 100%;

    & {
      text-align: center;
    }
  }
}

header#header {
  margin: 20px 0;

  @include desktop {
    margin: 20px 80px;
  }

  @include tablet {
    margin: 20px 50px;
  }

  @include mobile {
    margin-left: 20px 15px;
  }

  a {
    text-decoration: none;
  }
}

header#header .heading-container {
  float: left;

  @include tablet {
    float: none;
    padding: 20px 0;
  }
}

header#header .heading-container h1 {
  float: left;
}

header#header .heading-container h1 a {
  text-decoration: none;
}

header#header .heading-container i.nav-toggle {
  display: none;
  float: right;
  line-height: 1.7;
  cursor: pointer;

  @include desktop {
  }

  @include tablet {
    display: block;
    font-size: 2.2em;
  }

  @include mobile {
    font-size: 1.2em;
  }
}

header#header .nav-container {
  float: right;
  margin-top: 1em;
  margin-bottom: 1em;

  @include desktop {
  }

  @include tablet {
    margin-top: 0;
    margin-bottom: 0;
    float: none;
  }

  @include mobile {
  }
}

header#header .nav-container nav {
  @include tablet {
    display: none;
  }
}

header#header .nav-container nav.navbar-expand {
  display: block;
}

header#header .nav-container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
  }

  li {
    float: left;

    @include tablet {
      float: none;
      border-color: rgba( 51, 51, 51, 0.2);
      border-top: 1px solid #bbb;
    }

    a {
      color: $darkerGray;
      padding: 1em;

      @include tablet {
        display: block;
        padding: 0.84375em 0;
        text-decoration: none;

        &:hover {
          color: $blue-hover;
        }
      }
    }
  }
}

header#header .nav-container nav ul li.search-bar-mobile {
  display: none;
  padding: 0.84375em 0;

  @include tablet {
    display: block;
  }
}

input#toggle-input[type=checkbox] {
  position: absolute;
  left: -999em;
}

input#toggle-input[type=checkbox] + nav {
}

input#toggle-input[type=checkbox]:checked + nav {
  display: block;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "components/tag";
@import "csshacks";
@import "page";
@import "footer";
@import "highlights";
@import "svg-icons";
@import "print";
