<header id="header" class="clearfix">
  <div class="heading-container clearfix">
    <h1><a href="{{ site.baseurl }}/">craigchang.github.io</a></h1>
    <label for="toggle-input"><i class="fa fa-bars nav-toggle"></i></label>
  </div>
  <div class="nav-container">
    <!-- <input type="checkbox" name="toggle-input" id="toggle-input"> -->
    <nav>
      <ul class="clearfix">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </nav>
  </div>
</header>