<nav class="navbar">
  <div class="container clearfix">
    <div class="navbar-header">
      <a class="base-url" href="{{ site.baseurl }}/">
        <img src="{{ site.avatar }}" alt="Craig avatar" title="Craig avatar"/>craigchang.me
      </a>
      <i class="fa fa-bars"></i>
    </div>
    <div class="navbar-menu">
      <div class="navbar-items">
        <ul>
          <li><a href="{{ site.baseurl }}/">Blog</a></li>
          <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
        </ul>
      </div>
      <div class="navbar-search">
        {% include search-bar.html %}
      </div>
    </div>
  </div>
</nav>