.page {
  h2 {
    border-bottom: 5px solid $lavender;
  }

  &.about {
    img {
      max-width: 320px;
    }

    @include mobile {
      img {
        display: block;
        margin: 0 auto;
        max-width: 240px;
        width: 100%;
      }
    }
  }
}
