.page {
  h2 {
    border-bottom: 5px solid $lavender;
    margin: 1em 0 15px;
  }

  &.about {
    img {
      max-width: 320px;

      @include mobile {
        display: block;
        margin: 0 auto;
        max-width: 240px;
        width: 100%;
      }
    }
  }
}
