@media print {
	// header of page
	.masthead {
		display: none;
	}

	// 
	// <baseurl>/about page
	// 
	.page.projects {
		.iframe-resp-container {
			display: none;
			height: 0;
			width: 0;
		}
	}
}