
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$blue-hover: #2e6da4;
$lavender: #B5B5E8; // #CFCFE1;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$robotoSlab: 'Roboto Slab', georgia, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 880px) {
  	@content;
  }
}

@mixin desktop {
  @media screen and (min-width: 881px) {
    @content;
  }
}