//
// LAYOUT COMPONENTS
//

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
  width: 100%;
}

.inner-container {
  background: $white;
  padding: 70px 80px;

  @include tablet {
    padding: 40px 50px;
  }

  @include mobile {
    padding: 15px;
  }
}


//
// IMAGE PLACEMENTS
//

img.right {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 250px;
  height: auto;

  @include mobile {
    display: block;
    margin: 1.5em auto;
    max-width: 200px;
    float: none;
    width: 100%;
  }
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
  max-width: 250px;
  height: auto;

  @include mobile {
    display: block;
    margin: 1.5em auto;
    max-width: 200px;
    float: none;
    width: 100%;
  }
}

img.craig-bio-img {
  float: right;
  margin: 0 0 0 1em;
  max-width: 330px;
  width: 50%;
  height: auto;
}

@include mobile {
  img.craig-bio-img {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%;

    & {
      text-align: center;
    }
  }
}
