<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <nav class="navbar">
      <div class="container clearfix">
        <div class="navbar-header">
          <a class="base-url" href="{{ site.baseurl }}/">
            <img src="{{ site.avatar }}" alt="Craig avatar" title="Craig avatar"/>craigchang.github.io
          </a>
          <i class="fa fa-bars"></i>
        </div>
        <div class="navbar-menu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Blog</a></li>
            <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
          </ul>
        </div>
        <div class="navbar-search">
          <form class="search-form" action="/search/index.html" method="get">
            <label for="search-box"></label>
            <input type="text" id="search-box" name="query">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    </div>
    <div class="wrapper-masthead">
      <div class="container">
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include footer.html %}
    {% include analytics.html %}
    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/index.js"></script>
  </body>
</html>
