---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.categories[0] %}
  <div class="categories">
    <p>
      Posted:
      <span>
        {% for category in page.categories %}
          <a href="#">#{{ category }}</a>
        {% endfor %}
      </span>
    </p>
  </div>
  {% endif %}

  {% if page.tags[0] %}
  <div class="tags">
    <p>
      {% for tag in page.tags %}
        <span>
          <a class="tag-link" href="/tags/#{{tag}}">
            <i class="fa fa-tag"></i> {{ tag }}
          </a>
        </span>
      {% endfor %}
    </p>
  </div>
  {% endif %}

  <div class="date">
    <p><i class="fa fa-calendar"></i> {{ page.date | date: "%B %e, %Y" }}</p>
  </div>

  {% include disqus.html %}
</article>
